*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* 列表样式: 无; */
  list-style: none;
}
a{
  /* 去掉下划线 */
  text-decoration: none;
  color: #333;
}
.neikuan{
  width: 1226px;
  height: 100%;
  margin: 0 auto ;
  position:relative
}

.top{
  width: 100%;
  height: 40px;
  background: #F9919D;
}
/* 后代选择 先写父代选择器+空格+子代选择器 */
.top .link{
  width: 275px;
  height: 40px;
  float: left;
}
.top .link a{
  color: white;
  font-size: 15px;
  line-height: 40px;
  margin-right: 20px;
}
.top .link p{
  color: white;
  font-size: 15px;
  margin-top:10px;
  margin-right: 20px;
  float: left;
}
.top .text{
  width: 580px;
  height: 40px;
  float: right;
  margin-left:200px ;
}
.top .text a{
  color: white;
  font-size: 15px;
  line-height: 40px;
  margin-right: 20px;
}
.top a:hover{
  color: orange;
}
.top .text span{
  color: #423d39;
  font-size: 12px;
}

/**
导航
 */
.nav{
  width:1226px ;
  height: 130px;
  /*background: red;*/
  margin-top: 20px;
}
.nav-left{
  width: 200px;
  height: 130px;
  /*background: green;*/
  float: left;
  margin-right: 100px;
}
.nav-left img{
  display: block;
  width: 200px;
  height: 130px;
}
.nav-right{
  width:926px ;
  height: 130px;
  /*background: blue;*/
  float: right;
  box-sizing: border-box;
}
.nav-right .serach{
  width: 630px;
  height: 40px;
  /*background: orange;*/
  border: 1px solid red;
  margin-top: 20px;
  box-sizing: border-box;

}
.nav-right .text{
  width: 540px;
  height: 40px;
  /*background: gold;*/
}
.nav-right .serach .one{
  width:495px ;
  height: 40px;
  border: red 1px solid;
  border-right: none;
  float: left;
}
.nav-right .serach .two{
  width:130px ;
  height: 40px;
  background: red;
  float: right;
  font-size: 20px;
  text-align: center;
  padding-top: 8px;
  color: white;
}
.nav-right .text a{
  color: gray;
  font-size: 15px;
  margin-right: 5px;
  margin-left: 2px;
}
/**
导航结束
 */
/**
轮播图开始
 */
/**
790  35
 */
.banner{
  width: 100%;
  height: 460px;
}
.banner .top{
  width: 100%;
  height: 40px;
  /*background: #F9919D;*/
  position: relative;
}
.title{
  width: 790px;
  height: 40px;
  /*background: red;*/
  margin-left:200px ;
}
.title-one img{
  width: 110px;
  height: 20px;
}
.banner .top .title a{
  font-size: 15px;
  margin-right: 10px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/**
轮播图
 */
.banner .ban{
  width: 1226px;
  height: 500px;
  background: red;
}
.banner .con{
  width: 200px;
  height: 540px;
  background: yellow;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.banner .con .con-top{
  width: 200px;
  height: 40px;
  background: blue;
}
.con-top-left{
  width: 100px;
  height: 40px;
  background: red;
  float: left;
}
.con-top-left a{
  line-height: 40px;
  font-size:15px;
  text-align: center;
  padding-left: 15px;
  color: white;
}
.con-top-left a:hover{
  color: red;
}
.con-top-left:hover{
  background: #EFEFEF;
}
.con-top-right{
  width: 100px;
  height: 40px;
  background:red;
  float: left;
}
.con-top-right a{
  line-height: 40px;
  font-size:15px;
  text-align: center;
  padding-left: 5px;
  color: orange;
}
.con-top-right a:hover{
  color: white;
}
.con-top-right:hover{
  background:#413F3F;
}
.con-bottom{
  width: 200px;
  height:500px;
  background:#413F3F;
  padding-top: 30px;
}
.con-bottom div{
  border-radius: 10px;
  width: 155px;
  height: 35px;
  border: red 1px solid;
  margin-bottom: 10px;
  margin-left: 20px;

}
.con-bottom div:hover{
  background: red;
}
.con-bottom a{
  line-height: 35px;
  font-size: 15px;
  text-align: center;
  padding-left: 50px;
  color: white;
}
/**
轮播图结束
 */

/**
轮播图下面开始
 */
.t{
  width: 1226px;
  height:370px ;
  /*background: #b3d4fc;*/
  margin: auto;
  margin-top: 100px;
}
.t .one{
  width: 235px;
  height: 370px;
  /*background: red;*/
  float: left;
  margin-right: 10px;
}
.t .two{
  width: 485px;
  height: 370px;
  /*background: yellow;*/
  float: left;
  margin-right: 10px;
}
.t .three{
  width: 485px;
  height: 370px;
  /*background: yellow;*/
  float: left;
}
.t-one-top{
  width:235px;
  height: 55px;
  background: #FFFFFF;
}
.t-one-top-a{
  width: 90px;
  height: 55px;
  /*background: red;*/
  float: left;
}
.t-one-top-a p{
  color: black;
  line-height: 55px;
  text-align: center;
}
.t-one-top-b{
  width: 90px;
  height: 55px;
  /*background: blue;*/
  float: left;
}
.t-one-top-b p{
  color: black;
  line-height: 55px;
  text-align: center;
  font-size: 12px;
}
.t-one-top-c{
  width: 55px;
  height: 55px;
  /*background: green;*/
  float: left;
}
.t-one-top-c a{
  line-height: 55px;
  text-align: center;
  margin-left: 15px;
}
.t-one-bottom{
  width:235px;
  height: 315px;
  background: greenyellow;
}

.t-two-top{
  width:485px;
  height: 55px;
  /*background: yellow;*/
}
.t-two-top-a{
  width: 220px;
  height: 55px;
  /*background:red ;*/
  float: left;
}
.t-two-top-a p{
  font-size: 20px;
  line-height: 55px;
  text-align: center;
}
.t-two-top-b{
  width: 80px;
  height: 55px;
  float: right;
}
.t-two-top-b p{
  font-size: 20px;
  color: gray;
  float: left;
  margin-top: 14px;
}
.t-two-top-b img{
  margin-top: 17px;
}
.t-two-bottom{
  width:485px;
  height: 315px;
  /*background: greenyellow;*/
  margin-top: 0;
}
.t-three-top{
  width:485px;
  height: 55px;
  /*background: yellow;*/
}
.t-three-bottom{
  width:485px;
  height: 315px;
  /*background: greenyellow;*/
}
/**
轮播图下面结束
 */


/**
图标开始
 */
.tubiao{
  width: 1226px;
  height: 330px;
  background: red;
  margin-top: 20px;
}
.tubiao div{
  width: 10%;
  height: 110px;
  box-sizing: border-box;
  border: gray solid 1px;
  float: left;
}
/**
图标结束
 */

/**
天猫超市开始
 */
.chaoshi{
  width: 1226px;
  height: 666px;
  background: #F5F5F5;
  margin-top: 20px;
}
.chaoshi-top{
  width: 1226px;
  height: 46px;
  /*background: red;*/
  overflow: hidden;
}
.chaoshi-top-left{
  width: 215px;
  height: 26px;
  margin-top: 10px;
  background-image: url("../img/天猫超市.png");
  background-size: cover;
  float: left;

}
.chaoshi-top-right{
  width: 640px;
  height: 46px;
  /*background: yellow;*/
  float: right;
}
.chaoshi-top-right a{
  font-size: 15px;
  line-height: 46px;
  text-align: center;
  margin-right: 15px;
}
.chaoshi-top-right a:hover{
  border-bottom: solid black 1px;
}
.chaoshi-bottom{
  width: 1226px;
  height: 620px;
  /*background: blue;*/
}
.chaoshi-bottom-left{
  width: 235px;
  height: 620px;
  background-image: url("../img/5.jpg");
  background-size: cover;
  margin-right: 10px;
  float: left;
  position: relative;
}
.chaoshi-bottom-left-a{
  width: 70px;
  height: 65px;
  background: #100701;
  float: left;
  position: absolute;
  left: 0;
  top: 430px;
}
.chaoshi-bottom-left-a div{
  margin-top:6px;
  margin-left:15px;
}
.chaoshi-bottom-left-a span{
  color: white;
  font-size: 18px;
}
.chaoshi-bottom-left-b{
  width: 130px;
  height: 65px;
  background: #646463;
  float: left;
  position: absolute;
  left: 70px;
  top: 430px;
}
.chaoshi-bottom-left-b div{
  margin-top:6px;
  margin-left:15px;
}
.chaoshi-bottom-left-b span{
  color: white;
  font-size: 18px;
}
.chaoshi-bottom-right{
  width: 960px;
  height: 620px;
  /*background: red;*/
  float: right;
}
.chaoshi-bottom-right li{
  width: 230px;
  height: 300px;
  background: #FFFFFF;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
}
.chaoshi-bottom-right li:hover{
  border: solid red 1px;
}
.chaoshi-bottom-right li:nth-child(1):hover{
  border:none;
}
.chaoshi-bottom-right li:nth-child(1){
  width: 470px;
  height: 300px;
  background: green;
}
.chaoshi-bottom-right-a{
  width: 450px ;
  height: 285px;
  background: red;
  margin: 10px auto;
}
.chaoshi-bottom-right-a-top{
  width: 450px;
  height: 60px;
  background: yellow;
}
.chaoshi-bottom-right-a-top-left{
   width: 50%;
   height: 60px;
  background: #F1F1F1;
  float: left;
 }
.chaoshi-bottom-right-a-top-left span{
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  margin-left: 70px;
}
.chaoshi-bottom-right-a-top-left:hover{
  background: #00B262;
  color: white;
}
.chaoshi-bottom-right-a-top-right{
  width: 50%;
  height: 60px;
  background: #00B262;
  float: right;
}
.chaoshi-bottom-right-a-top-right span{
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  margin-left: 75px;
}
.chaoshi-bottom-right-a-top-right:hover{
  background: white;
  color: black;
}
.chaoshi-bottom-right-b{
  width: 185px;
  height: 185px;
  background-image: url("../img/6.jpg");
  background-size: cover;
  margin-top: 20px;
  margin-left: 25px;
}
.chaoshi-bottom-right-c{
  width: 140px;
  height: 40px;
  font-size: 14px;
  margin: auto;
  margin-top: 5px;
}
.chaoshi-bottom-right-d{
  width: 55px;
  height: 20px;
  color: red;
  font-size: 20px;
  margin: auto;
  margin-top: 5px;

}
/**
天猫超市结束
 */

/**
天猫国际开始
 */
.guoji{
  width: 1226px;
  height: 100%;
  background: #F5F5F5;

}
.guoji-top{
  width: 1226px;
  height: 50px;
  background: #F5F5F5;
  margin-top: 10px;
}
.guoji-bottom{
  width: 1226px;
  height: 620px;

}
.guoji-top-left{
  width: 215px;
  height: 26px;
  margin-top: 10px;
  background-image: url("../img/天猫超市.png");
  background-size: cover;
  float: left;
}
.guoji-top-right{
  width: 240px;
  height: 46px;
  float: right;
}
.guoji-top-right a{
  font-size: 15px;
  line-height: 46px;
  text-align: center;
  margin-right: 15px;
}
.guoji-top-right a:hover{
  border-bottom: solid black 1px;
}
.guoji-bottom li{
  width: 230px;
  height: 300px;
  background:white;
  float: left;
  margin-right: 18px;
  margin-bottom: 20px;
}
.guoji-bottom li:nth-child(5){
  margin-right:0;
}
.guoji-bottom li:nth-child(1){
  background-image: url("../img/2.png");
  background-size: cover;
  position: relative;
}
.guoji-bottom-a{
  width: 70px;
  height: 65px;
  background: #100701;
  float: left;
  position: absolute;
  left: 0;
  top: 175px;
}
.guoji-bottom-a div{
  margin-top:6px;
  margin-left:15px;
}
.guoji-bottom-a span{
  color: white;
  font-size: 18px;
}
.guoji-bottom-b{
  width: 130px;
  height: 65px;
  background: #646463;
  float: left;
  position: absolute;
  left: 70px;
  top: 175px;
}
.guoji-bottom-b div{
  margin-top:6px;
  margin-left:15px;
}
.guoji-bottom-b span{
  color: white;
  font-size: 18px;
}
.guoji-bottom li:nth-child(6){
  background-image: url("../img/2.png");
  background-size: cover;
  position: relative;
}

.guoji-bottom li:nth-child(10){
  margin-right:0;
}
.guoji-bottom li:hover{
  border: solid red 1px;
}

/**
天猫国际结束
 */

.tu1{
  width: 1226px;
  height: 95px;
  background-image: url("../img/8.jpg");
  background-size: cover;
  margin-top: 10px;
}

/**
美丽人生开始
 */
.rensheng{
  width: 1226px;
  height: 100%;
  background: #F5F5F5;
}
.rensheng-top{
  width: 1226px;
  height: 50px;
  background: #F5F5F5;
  margin-top: 10px;
}
.rensheng-top-left{
  width: 250px;
  height: 50px;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
}
.rensheng-bottom{
  width: 1226px;
  height: 620px;

}
.rensheng-bottom li{
  width: 230px;
  height: 300px;
  background:white;
  float: left;
  margin-right: 18px;
  margin-bottom: 20px;
}
.rensheng-bottom li:nth-child(1){
  width: 235px;
  height: 620px;
  background-image: url("../img/8.png");
  background-size: cover;
  margin: 0;
}
.rensheng-bottom li:nth-child(5){
  margin-right:0;
}
.rensheng-bottom li:nth-child(9){
  margin-right:0;
}
.rensheng-bottom li:hover{
  border: solid red 1px;
}
/**
电酷
 */
.dianku{
  width: 1226px;
  height: 100%;
  background: #F5F5F5;
}
.dianku-top{
  width: 1226px;
  height: 50px;
  background: #F5F5F5;
  margin-top: 10px;
}
.dianku-bottom{
  width: 1226px;
  height: 620px;

}
.dianku-bottom li{
  width: 230px;
  height: 300px;
  background:white;
  float: left;
  margin-right: 18px;
  margin-bottom: 20px;
}
.dianku-bottom li:nth-child(1){
  width: 235px;
  height: 620px;
  background-image: url("../img/9.png");
  background-size: cover;
  margin: 0;
}
.dianku-bottom li:nth-child(5){
  margin-right:0;
}
.dianku-bottom li:nth-child(9){
  margin-right:0;
}
.dianku-bottom li:hover{
  border: solid red 1px;
}

.tu2{
  width: 1226px;
  height: 95px;
  background-image: url("../img/7.jpg");
  background-size: cover;
  margin-top: 10px;
}




/**
导航
 */
.daohang{
  width: 50px;
  height: 250px;
  /* background: red; */
  position: fixed;
  right: 0;
  bottom: 50px;
}
.dao1{
  width: 50px;
  height: 50px;
  border:1px solid black;
  /* background: blue; */
  font-size: 10px;
  line-height: 50px;
  text-align: center;

}
.dao1:hover{
  color: red;
}
/**
左导航
 */
.daohang-left{
  width: 50px;
  height: 370px;
  /* background: red; */
  position: fixed;
  left: 150px;
  bottom: 50px;
}
 .dao{
  width: 50px;
  height: 37px;
  border:1px solid black;
  /* background: blue; */
  font-size: 10px;
  line-height: 37px;
  text-align: center;

}
.dao:hover{
  background:greenyellow;
}

.daohang-right{
  width: 100px;
  height: 500px;
  background: #F9919D;
  position: fixed;
  right: 0;
  top: 0;
}
