body{
    margin: 0;
    background: url("../imgs/maincon.jpg") no-repeat ;

}
a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,ul,li{
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    list-style: none;
}


.site-nav{
    width: 100%;
    height: 40px;
    background: #f9919d;
}
.sn-bd{
    width: 1230px;
    height: 32px;
    margin: auto;
}
.sn-bd-left{
    width: 240px;
    height: 32px;
    float: left;
}
em{
    width: 84px;
    height: 16px;
    font-size: 12px;
    font-style: normal;
    float: left;
    color: white;
    margin-top: 5px;
}
.sn-l{
    width: 65px;
    height: 16px;
    float: left;
    color: white;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    margin-top: 5px;
}

.sn-bd-right-ul{
    width: 530px;
    height: 32px;
    float: right;
}
.bd-li{
    width: 12.5%;
    height: 32px;
    float: left;
    font-size: 14px;
    color: #ffffff;
    line-height: 32px;

}
.header{
    width: 100%;
    height: 130px;

}
.headerLayout{
    width: 1230px;
    height: 106px;
    margin-left: auto;
    margin-right: auto;
}
.tu1{
    width: 240px;
    height: 130px;
    float: left;
    margin: 1px auto;
    display: block;
    border: none;
    padding: 0;
}
.main-search{
    width: 625px;
    height: 106px;
    margin: auto;
}
.mallsearch{
    width: 625px;
    height: 40px;
    margin-top: 40px;
    float: left;
}

.hot-query{
    width: 625px;
    height: 26px;
    float: left;

}
.hot-query li{
    width: 67px;
    height: 15.2px;
    float: left;
}
.hot-query a{
    width: 42px;
    height: 17.6px;
    float: left;
    font-size: 14px;
}
.content{
    width: 100%;
    height: 10445px;
}
.inner-con0{
    width: 100%;
    height: 36px;
    float: left;

}
.inner-con1{
    width: 1260px;
    height: 36px;
    margin: auto;
}
.cona1{
    width: 116px;
    height: 35px;
    float: left;
    background: url("../imgs/con1.png");
    background-size: cover;
    margin-left: 300px;
}
.cona2{
    width: 116px;
    height: 35px;
    float: left;
    background: url("../imgs/con-2.png");
    background-size: cover;
}
.cona3{
    width: 64px;
    height: 35px;
    float: left;
    line-height: 35px;
    font-size: 15px;
    font-style: unset;
}
.cona3:hover{
    color: red;
}
.category{
    width: 100%;
    height: 500px;
    float: left;
}

.bj{
    width: 100%;
    height:1148px;
    position: relative;
    background: url("../images2/background.jpg") no-repeat;
}
.bj-one{
    width: 1230px;
    height: 650px;
    margin-left: 220px;
    position: relative;
}
.bj-one-left{
    width: 250px;
    height:650px;
    position: absolute;
    background: rgba(0,0,0,0.7);
}
.bj-one-right{
    width: 980px;
    height: 650px;
    float: right;
}
.bj-one-left .kuang{
    width: 200px;
    height: 40px;
    margin-left: 25px;margin-top: 20px;
    position: relative;
    border: 1px solid red;
    border-radius: 25%;
}
.kuang a{
    text-decoration: none;
}
.kuang a:hover{
    background-color: red;
}
.kuang-left{
    width: 30px;
    height: 30px;
    float: left;
    position: absolute;
    margin-left: 25px;
    margin-top: 10px;
}
.kuang-right{
    width: 100px;
    height: 100%;
    float: left;
    position: absolute;
    margin-left: 60px;
    margin-top: 10px;
    color: #ffffff;
}
/*轮播部分*/
.bj .bj-one-right .wheel-box{
    width: 980px;
    height: 650px;
    float: left;
    position: relative;
    margin-left: -240px;
    margin-top: -650px;
}
.wheel-box img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.wheel-box .lunbo1{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.wheel-box .lunbo2{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
}
.wheel-box .lunbo3{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}
.wheel-box .lunbo4{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.wheel-box .lunbo5{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.btn{
    width: 600px;
    height: 20px;
    position: absolute;
    right: 340px;
    bottom: 550px;
    z-index: 6;
}
.btn1{
    width:50px;
    height: 10px;
    background: #555;
    margin-left: 20px;
    float: left;
}
.wheel-box .lunbo5{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
/*品牌汇聚*/
.prand{
    width: 1230px;
    height: 460px;
    margin-left: 220px;
    position: absolute;
    margin-top: -450px;
}
.prand-one{
    width: 250px;
    height: 400px;
    float: left;
    margin-right: 15px;
}
.prand-one-up{
    width: 250px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    background: white;
    position: relative;
    box-sizing: border-box;
}
.one-cont{
    width: 300px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    position: absolute;
    float: left;
}
.one-more{
    width:40px;
    height: 40px;
    float: left;
    position: absolute;
    left: 210px;
    top: 20px;
}
.one-more a{
    text-decoration: none;
}
.prand-one-down{
    width: 250px;
    height: 390px;
    box-sizing: border-box;
    background: url("../images2/prand1.jpg") no-repeat;
}
.prand-two{
    width: 470px;
    height: 400px;
    float: left;
    margin-right: 15px;
}
.prand-two-up{
    width: 470px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    background: white;
    position: relative;
    box-sizing: border-box;
}
.two-cont{
    width: 300px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;
    position: absolute;
}
.two-more{
    width:40px;
    height: 40px;
    float: left;
    position: absolute;
    left: 420px;
    top: 15px;
}
.prand-two-down{
    width: 470px;
    height: 390px;
    box-sizing: border-box;
    background: url("../images2/prand2.jpg") no-repeat;
}
.prand-three{
    width: 475px;
    height: 400px;
    float: left;
}
.prand-three-up{
    width: 470px;
    height: 70px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    background: white;
    position: relative;
    box-sizing: border-box;
}
.three-cont{
    width: 300px;
    height: 50px;
    position: absolute;
    line-height: 50px;
    margin-top: 10px;
}
.three-more{
    width:40px;
    height: 40px;
    float: left;
    position: absolute;
    left: 420px;
    top: 15px;
}

.prand-three-down{
    width: 470px;
    height: 390px;
    box-sizing: border-box;
    background: url("../images2/prand3.jpg") no-repeat;
}

.graybj{
    width: 100%;
    height:100%;
    background: #f5f5f5;
}
.logo{
    width: 1230px;
    height: 330px;
    margin-left: 220px;
    margin-top: 40px;
    background: url("../images2/logo.jpg") no-repeat;
}

.mart{
    width: 1230px;
    height: 600px;
    margin-left: 220px;
}
.mart-up{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.mart-up-left{
    width: 25%;
    height: 50px;
    float: left;
    vertical-align: middle;
    background-size: cover;
}
.mart-up-left img{
    width: 100%;
    height: 100%;
}
.mart-up-right{
    width: 70%;
    height: 50px;
    float: right;
}
.mart-up-right a{
    width: 12.5%;
    height: 50px;
    float: left;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.mart-up-right a:hover{
    text-decoration: underline;
    color: orange;
}
.mart-down{
    width: 100%;
    height: 540px;
}
.mart-down-left{
    width: 210px;
    height: 540px;
    float: left;
}
.mart-down-left img{
    width: 100%;
    height: 100%;
}
.mart-down-right{
    width:1000px;
    height: 540px;
    float: left;
}
.mart-down-right-up{
    width: 100%;
    height: 50%;
}
.mart-down-right-down{
    width: 100%;
    height: 50%;
}
.mart-down-right-down .part-one{
    width: 23%;
    height: 100%;
    margin-right: 20px;
    float: left;
}
.mart-down-right-down .part-two{
    width: 23%;
    height: 100%;
    margin-right: 20px;
    float: left;
}
.mart-down-right-down .part-three{
    width: 23%;
    height: 100%;
    margin-right: 20px;
    float: left;
}
.mart-down-right-down .part-four{
    width: 23%;
    height: 100%;
    float: left;
}
.mart-down-right-down .part-one .mart-good img{
    width: 100%;
    height: 100%;
}
.part-one{
    width: 40%;
    height: 100%;
    position: relative;
    float: left;
}
.part-one-up{
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.part-one-up-left{
    width: 50%;
    height: 30px;
    line-height: 30px;
    float: left;
    background:white;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    border: 1px solid dimgray;
}
.part-one-up a{
    text-decoration: none;
}
.part-one-up a:hover{
    background-color: red;
}
.part-one-up-right{
    width: 50%;
    height: 30px;
    line-height: 30px;
    float: left;
    font-weight: bold;
    background: #ffffff;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid dimgray;
}
.part-one-down{
    width: 100%;
    height: 80%;
    position: absolute;
    margin-top: -20px;
}
.part-one-down-left{
    width: 50%;
    height: 30%;
    position: absolute;
    margin-top: 100px;
    float: left;
}
.part-one-down-left img{
    width: 100%;
    height: 100%;
}
.you-desc{
    width: 100%;
    height: 100%;
    margin-top: -70px;
}
.you-desc-up{
    width: 100%;
    height: 50%;
    font-size: 20px;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
}
.you-desc-down{
    width: 100%;
    height: 50%;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}
.part-one-down-right{
    width: 50%;
    height: 100%;
    position: absolute;
    float: left;
    background: white;
    margin-left: 200px;
}
.part-one-down-right img{
    width: 100%;
    height: 100%;
}
.part-two{
    width: 30%;
    height: 100%;
    float: left;
}
.part-three{
    width: 30%;
    height: 100%;
    float: left;
}
.mart-good{
    width: 100%;
    height: 70%;
}
.mart-good img{
    width: 100%;
    height: 100%;
}
.desc1{
    width: 100%;
    height: 15%;
    font-size: 15px;
    color: gray;
    text-align: center;
}
.mart-price{
    width: 100%;
    height: 15%;
    font-size: 20px;
    color: red;
    text-align: center;
}
.foreigncat-up{
    width: 1230px;
    height: 50px;
    margin-left: 220px;
}
.foreigncat-up-left{
    width: 25%;
    height: 50px;
    float: left;
    vertical-align: middle;
}
.foreigncat-up-left img{
    width: 100%;
    height: 100%;
}
.foreigncat-up-right{
    width: 70%;
    height: 50px;
    float: right;
}
.foreigncat-up-right a{
    width: 10%;
    height: 50px;
    float: right;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #000;
}
.foreigncat-up a:hover{
    text-decoration: underline;
    color: orange;
}

.foreigncat{
    width: 100%;
    height: 680px;
    box-sizing: border-box;
}
ul a:hover{
    border: 1px solid red;
}

.foreigncat-down{
    width:1230px;
    height: 620px;
    box-sizing: border-box;
    margin-left: 220px;
}
.foreigncat-down-left{
    width: 235px;
    height: 618px;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.foreigncat-down-left a:hover{
    color: #f6f6f6;
}
.foreigncat-down-left-desc a{
    text-decoration: none;
    color: #ffffff;
}
.foreigncat-down-left img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-left-desc{
    width: 190px;
    height: 60px;
    position: absolute;
    top:450px;
}
.foreigncat-down-left-desc-1{
    width: 35%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background: rgba(0,0,0,0.85);
}
.foreigncat-down-left-desc-2{
    width: 65%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
}
.foreigncat-down-left-desc-21{
    width: 100%;
    height: 50%;
}
.foreigncat-down-left-desc-22{
    width: 100%;
    height: 50%;
}
.foreigncat-down-right{
    width: 995px;
    height: 618px;
    float: left;
    box-sizing: border-box;
}
.foreigncat-down-right-1{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.foreigncat-down-right-1 .right1-1{
    width: 100%;
    height: 75%;
}
.foreigncat-down-right-1 .right1-1 img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-right-1 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.foreigncat-down-right-1 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.foreigncat-down-right-2{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.foreigncat-down-right-2 .right1-1{
    width: 100%;
    height: 75%;
}
.foreigncat-down-right-2 .right1-1 img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-right-2 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.foreigncat-down-right-2 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.foreigncat-down-right-3{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.foreigncat-down-right-3 .right1-1{
    width: 100%;
    height: 75%;
}
.foreigncat-down-right-3 .right1-1 img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-right-3 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.foreigncat-down-right-3 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.foreigncat-down-right-4{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.foreigncat-down-right-4 .right1-1{
    width: 100%;
    height: 75%;
}
.foreigncat-down-right-4 .right1-1 img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-right-4 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.foreigncat-down-right-4 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.foreigncat-down-right-5{
    width: 24%;
    height: 305px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.foreigncat-down-right-5 .right1-1{
    width: 100%;
    height: 75%;
}
.foreigncat-down-right-5 .right1-1 img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-right-5 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.foreigncat-down-right-5 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.foreigncat-down-right-6{
    width: 24%;
    height: 310px;
    background: white;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.foreigncat-down-right-6 .right1-1{
    width: 100%;
    height: 75%;
}
.foreigncat-down-right-6 .right1-1 img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-right-6 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.foreigncat-down-right-6 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.foreigncat-down-right-7{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.foreigncat-down-right-7 .right1-1{
    width: 100%;
    height: 75%;
}
.foreigncat-down-right-7 .right1-1 img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-right-7 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.foreigncat-down-right-7 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.foreigncat-down-right-8{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.foreigncat-down-right-8 .right1-1{
    width: 100%;
    height: 75%;
}
.foreigncat-down-right-8 .right1-1 img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-right-8 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.foreigncat-down-right-8 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.foreigncat-down-right-9{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.foreigncat-down-right-9 .right1-1{
    width: 100%;
    height: 75%;
}
.foreigncat-down-right-9 .right1-1 img{
    width: 100%;
    height: 100%;
}
.foreigncat-down-right-9 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.foreigncat-down-right-9 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.cloths-bj{
    width: 100%;
    height: 120px;
}
.cloths{
    width:100%;
    height: 100%;
    margin-top: 30px;
    background: url("../images2/cloths.jpg") no-repeat;
}
.beauty{
    width: 100%;
    height: 680px;
    box-sizing: border-box;
}
ul a:hover{
    border: 1px solid red;
}
.beauty-up{
    width: 1230px;
    height: 50px;
    line-height: 50px;
    margin-left: 220px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
.beauty-down{
    width:1230px;
    height: 620px;
    box-sizing: border-box;
    margin-left: 220px;
}
.beauty-down-left{
    width: 235px;
    height: 618px;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.beauty-down-left a:hover{
    color: #f6f6f6;
}
.beauty-down-left-desc a{
    text-decoration: none;
    color: #ffffff;
}
.beauty-down-left img{
    width: 100%;
    height: 100%;
}
.beauty-down-left-desc{
    width: 190px;
    height: 60px;
    position: absolute;
    top:450px;
}
.beauty-down-left-desc-1{
    width: 35%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background: rgba(0,0,0,0.85);
}
.beauty-down-left-desc-2{
    width: 65%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
}
.beauty-down-left-desc-21{
    width: 100%;
    height: 50%;
}
.beauty-down-left-desc-22{
    width: 100%;
    height: 50%;
}
.beauty-down-right{
    width: 995px;
    height: 618px;
    float: left;
    box-sizing: border-box;
}
.beauty-down-right-1{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.beauty-down-right-1 .right1-1{
    width: 100%;
    height: 75%;
}
.beauty-down-right-1 .right1-1 img{
    width: 100%;
    height: 100%;
}
.beauty-down-right-1 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.beauty-down-right-1 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.beauty-down-right-2{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.beauty-down-right-2 .right1-1{
    width: 100%;
    height: 75%;
}
.beauty-down-right-2 .right1-1 img{
    width: 100%;
    height: 100%;
}
.beauty-down-right-2 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.beauty-down-right-2 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.beauty-down-right-3{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.beauty-down-right-3 .right1-1{
    width: 100%;
    height: 75%;
}
.beauty-down-right-3 .right1-1 img{
    width: 100%;
    height: 100%;
}
.beauty-down-right-3 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.beauty-down-right-3 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.beauty-down-right-4{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.beauty-down-right-4 .right1-1{
    width: 100%;
    height: 75%;
}
.beauty-down-right-4 .right1-1 img{
    width: 100%;
    height: 100%;
}
.beauty-down-right-4 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.beauty-down-right-4 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.beauty-down-right-5{
    width: 24%;
    height: 305px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.beauty-down-right-5 .right1-1{
    width: 100%;
    height: 75%;
}
.beauty-down-right-5 .right1-1 img{
    width: 100%;
    height: 100%;
}
.beauty-down-right-5 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.beauty-down-right-5 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.beauty-down-right-6{
    width: 24%;
    height: 310px;
    background: white;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.beauty-down-right-6 .right1-1{
    width: 100%;
    height: 75%;
}
.beauty-down-right-6 .right1-1 img{
    width: 100%;
    height: 100%;
}
.beauty-down-right-6 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.beauty-down-right-6 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.beauty-down-right-7{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.beauty-down-right-7 .right1-1{
    width: 100%;
    height: 75%;
}
.beauty-down-right-7 .right1-1 img{
    width: 100%;
    height: 100%;
}
.beauty-down-right-7 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.beauty-down-right-7 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.beauty-down-right-8{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.beauty-down-right-8 .right1-1{
    width: 100%;
    height: 75%;
}
.beauty-down-right-8 .right1-1 img{
    width: 100%;
    height: 100%;
}
.beauty-down-right-8 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.beauty-down-right-8 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.beauty-down-right-9{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.beauty-down-right-9 .right1-1{
    width: 100%;
    height: 75%;
}
.beauty-down-right-9 .right1-1 img{
    width: 100%;
    height: 100%;
}
.beauty-down-right-9 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.beauty-down-right-9 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.play{
    width: 100%;
    height: 680px;
    box-sizing: border-box;
}
ul a:hover{
    border: 1px solid red;
}
.play-up{
    width: 1230px;
    height: 50px;
    line-height: 50px;
    margin-left: 220px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
.play-down{
    width:1230px;
    height: 620px;
    box-sizing: border-box;
    margin-left: 220px;
}
.play-down-left{
    width: 235px;
    height: 618px;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.play-down-left a:hover{
    color: #f6f6f6;
}
.play-down-left-desc a{
    text-decoration: none;
    color: #ffffff;
}
.play-down-left img{
    width: 100%;
    height: 100%;
}
.play-down-left-desc{
    width: 190px;
    height: 60px;
    position: absolute;
    top:450px;
}
.play-down-left-desc-1{
    width: 35%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background: rgba(0,0,0,0.85);
}
.play-down-left-desc-2{
    width: 65%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
}
.play-down-left-desc-21{
    width: 100%;
    height: 50%;
}
.play-down-left-desc-22{
    width: 100%;
    height: 50%;
}
.play-down-right{
    width: 995px;
    height: 618px;
    float: left;
    box-sizing: border-box;
}
.play-down-right-1{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.play-down-right-1 .right1-1{
    width: 100%;
    height: 75%;
}
.play-down-right-1 .right1-1 img{
    width: 100%;
    height: 100%;
}
.play-down-right-1 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.play-down-right-1 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.play-down-right-2{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.play-down-right-2 .right1-1{
    width: 100%;
    height: 75%;
}
.play-down-right-2 .right1-1 img{
    width: 100%;
    height: 100%;
}
.play-down-right-2 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.play-down-right-2 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.play-down-right-3{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.play-down-right-3 .right1-1{
    width: 100%;
    height: 75%;
}
.play-down-right-3 .right1-1 img{
    width: 100%;
    height: 100%;
}
.play-down-right-3 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.play-down-right-3 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.play-down-right-4{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.play-down-right-4 .right1-1{
    width: 100%;
    height: 75%;
}
.play-down-right-4 .right1-1 img{
    width: 100%;
    height: 100%;
}
.play-down-right-4 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.play-down-right-4 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.play-down-right-5{
    width: 24%;
    height: 305px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.play-down-right-5 .right1-1{
    width: 100%;
    height: 75%;
}
.play-down-right-5 .right1-1 img{
    width: 100%;
    height: 100%;
}
.play-down-right-5 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.play-down-right-5 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.play-down-right-6{
    width: 24%;
    height: 310px;
    background: white;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.play-down-right-6 .right1-1{
    width: 100%;
    height: 75%;
}
.play-down-right-6 .right1-1 img{
    width: 100%;
    height: 100%;
}
.play-down-right-6 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.play-down-right-6 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.play-down-right-7{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.play-down-right-7 .right1-1{
    width: 100%;
    height: 75%;
}
.play-down-right-7 .right1-1 img{
    width: 100%;
    height: 100%;
}
.play-down-right-7 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.play-down-right-7 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.play-down-right-8{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.play-down-right-8 .right1-1{
    width: 100%;
    height: 75%;
}
.play-down-right-8 .right1-1 img{
    width: 100%;
    height: 100%;
}
.play-down-right-8 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.play-down-right-8 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.play-down-right-9{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.play-down-right-9 .right1-1{
    width: 100%;
    height: 75%;
}
.play-down-right-9 .right1-1 img{
    width: 100%;
    height: 100%;
}
.play-down-right-9 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.play-down-right-9 .right1-3 {
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
/*现在买短袖很划算*/
.shirt-bj{
    width: 100%;
    height: 120px;
}
.shirts{
    width:100%;
    height: 100%;
    margin-top: 30px;
    background: url("../images2/T-shirt.jpg") no-repeat;
}

/*家居生活*/
.life{
    width: 100%;
    height: 680px;
    box-sizing: border-box;
}
ul a:hover{
    border: 1px solid red;
}
.life-up{
    width: 1230px;
    height: 50px;
    line-height: 50px;
    margin-left: 220px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
.life-down{
    width:1230px;
    height: 620px;
    box-sizing: border-box;
    margin-left: 220px;
}
.life-down-left{
    width: 235px;
    height: 618px;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.life-down-left a:hover{
    color: #f6f6f6;
}
.life-down-left-desc a{
    text-decoration: none;
    color: #ffffff;
}
.life-down-left img{
    width: 100%;
    height: 100%;
}
.life-down-left-desc{
    width: 190px;
    height: 60px;
    position: absolute;
    top:450px;
}
.life-down-left-desc-1{
    width: 35%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background: rgba(0,0,0,0.85);
}
.life-down-left-desc-2{
    width: 65%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
}
.life-down-left-desc-21{
    width: 100%;
    height: 50%;
}
.life-down-left-desc-22{
    width: 100%;
    height: 50%;
}
.life-down-right{
    width: 995px;
    height: 618px;
    float: left;
    box-sizing: border-box;
}
.life-down-right-1{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.life-down-right-1 .right1-1{
    width: 100%;
    height: 75%;
}
.life-down-right-1 .right1-1 img{
    width: 100%;
    height: 100%;
}
.life-down-right-1 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.life-down-right-1 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.life-down-right-2{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.life-down-right-2 .right1-1{
    width: 100%;
    height: 75%;
}
.life-down-right-2 .right1-1 img{
    width: 100%;
    height: 100%;
}
.life-down-right-2 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.life-down-right-2 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.life-down-right-3{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.life-down-right-3 .right1-1{
    width: 100%;
    height: 75%;
}
.life-down-right-3 .right1-1 img{
    width: 100%;
    height: 100%;
}
.life-down-right-3 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.life-down-right-3 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.life-down-right-4{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.life-down-right-4 .right1-1{
    width: 100%;
    height: 75%;
}
.life-down-right-4 .right1-1 img{
    width: 100%;
    height: 100%;
}
.life-down-right-4 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.life-down-right-4 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.life-down-right-5{
    width: 24%;
    height: 305px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.life-down-right-5 .right1-1{
    width: 100%;
    height: 75%;
}
.life-down-right-5 .right1-1 img{
    width: 100%;
    height: 100%;
}
.life-down-right-5 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.life-down-right-5 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.life-down-right-6{
    width: 24%;
    height: 310px;
    background: white;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.life-down-right-6 .right1-1{
    width: 100%;
    height: 75%;
}
.life-down-right-6 .right1-1 img{
    width: 100%;
    height: 100%;
}
.life-down-right-6 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.life-down-right-6 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.life-down-right-7{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.life-down-right-7 .right1-1{
    width: 100%;
    height: 75%;
}
.life-down-right-7 .right1-1 img{
    width: 100%;
    height: 100%;
}
.life-down-right-7 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.life-down-right-7 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.life-down-right-8{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.life-down-right-8 .right1-1{
    width: 100%;
    height: 75%;
}
.life-down-right-8 .right1-1 img{
    width: 100%;
    height: 100%;
}
.life-down-right-8 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.life-down-right-8 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.life-down-right-9{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.life-down-right-9 .right1-1{
    width: 100%;
    height: 75%;
}
.life-down-right-9 .right1-1 img{
    width: 100%;
    height: 100%;
}
.life-down-right-9 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.life-down-right-9 .right1-3 {
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}

/*打造爱巢*/
.home{
    width: 100%;
    height: 680px;
    box-sizing: border-box;
}
ul a:hover{
    border: 1px solid red;
}
.home-up{
    width: 1230px;
    height: 50px;
    line-height: 50px;
    margin-left: 220px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
.home-down{
    width:1230px;
    height: 620px;
    box-sizing: border-box;
    margin-left: 220px;
}
.home-down-left{
    width: 235px;
    height: 618px;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.home-down-left a:hover{
    color: #f6f6f6;
}
.home-down-left-desc a{
    text-decoration: none;
    color: #ffffff;
}
.home-down-left img{
    width: 100%;
    height: 100%;
}
.home-down-left-desc{
    width: 190px;
    height: 60px;
    position: absolute;
    top:450px;
}
.home-down-left-desc-1{
    width: 35%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background: rgba(0,0,0,0.85);
}
.home-down-left-desc-2{
    width: 65%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
}
.home-down-left-desc-21{
    width: 100%;
    height: 50%;
}
.home-down-left-desc-22{
    width: 100%;
    height: 50%;
}
.home-down-right{
    width: 995px;
    height: 618px;
    float: left;
    box-sizing: border-box;
}
.home-down-right-1{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.home-down-right-1 .right1-1{
    width: 100%;
    height: 75%;
}
.home-down-right-1 .right1-1 img{
    width: 100%;
    height: 100%;
}
.home-down-right-1 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.home-down-right-1 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.home-down-right-2{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.home-down-right-2 .right1-1{
    width: 100%;
    height: 75%;
}
.home-down-right-2 .right1-1 img{
    width: 100%;
    height: 100%;
}
.home-down-right-2 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.home-down-right-2 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.home-down-right-3{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.home-down-right-3 .right1-1{
    width: 100%;
    height: 75%;
}
.home-down-right-3 .right1-1 img{
    width: 100%;
    height: 100%;
}
.home-down-right-3 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.home-down-right-3 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.home-down-right-4{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.home-down-right-4 .right1-1{
    width: 100%;
    height: 75%;
}
.home-down-right-4 .right1-1 img{
    width: 100%;
    height: 100%;
}
.home-down-right-4 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.home-down-right-4 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.home-down-right-5{
    width: 24%;
    height: 305px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.home-down-right-5 .right1-1{
    width: 100%;
    height: 75%;
}
.home-down-right-5 .right1-1 img{
    width: 100%;
    height: 100%;
}
.home-down-right-5 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.home-down-right-5 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.home-down-right-6{
    width: 24%;
    height: 310px;
    background: white;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.home-down-right-6 .right1-1{
    width: 100%;
    height: 75%;
}
.home-down-right-6 .right1-1 img{
    width: 100%;
    height: 100%;
}
.home-down-right-6 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.home-down-right-6 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.home-down-right-7{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.home-down-right-7 .right1-1{
    width: 100%;
    height: 75%;
}
.home-down-right-7 .right1-1 img{
    width: 100%;
    height: 100%;
}
.home-down-right-7 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.home-down-right-7 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.home-down-right-8{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.home-down-right-8 .right1-1{
    width: 100%;
    height: 75%;
}
.home-down-right-8 .right1-1 img{
    width: 100%;
    height: 100%;
}
.home-down-right-8 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.home-down-right-8 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.home-down-right-9{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.home-down-right-9 .right1-1{
    width: 100%;
    height: 75%;
}
.home-down-right-9 .right1-1 img{
    width: 100%;
    height: 100%;
}
.home-down-right-9 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.home-down-right-9 .right1-3 {
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
/*超级大牌才是精品*/
.fanish-bj{
    width: 100%;
    height: 120px;
}
.fanishs{
    width:100%;
    height: 100%;
    margin-top: 30px;
    background: url("../images2/fanish.jpg") no-repeat;
}

/*户外运动*/
.sport{
    width: 100%;
    height: 680px;
    box-sizing: border-box;
}
ul a:hover{
    border: 1px solid red;
}
.sport-up{
    width: 1230px;
    height: 50px;
    line-height: 50px;
    margin-left: 220px;
    font-size: 18px;
    font-weight: bold;
    box-sizing: border-box;
}
.sport-down{
    width:1230px;
    height: 620px;
    box-sizing: border-box;
    margin-left: 220px;
}
.sport-down-left{
    width: 235px;
    height: 618px;
    float: left;
    position: relative;
    box-sizing: border-box;
}
.sport-down-left a:hover{
    color: #f6f6f6;
}
.sport-down-left-desc a{
    text-decoration: none;
    color: #ffffff;
}
.sport-down-left img{
    width: 100%;
    height: 100%;
}
.sport-down-left-desc{
    width: 190px;
    height: 60px;
    position: absolute;
    top:450px;
}
.sport-down-left-desc-1{
    width: 35%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    background: rgba(0,0,0,0.85);
}
.sport-down-left-desc-2{
    width: 65%;
    height: 100%;
    line-height: 100%;
    float: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
}
.sport-down-left-desc-21{
    width: 100%;
    height: 50%;
}
.sport-down-left-desc-22{
    width: 100%;
    height: 50%;
}
.sport-down-right{
    width: 995px;
    height: 618px;
    float: left;
    box-sizing: border-box;
}
.sport-down-right-1{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.sport-down-right-1 .right1-1{
    width: 100%;
    height: 75%;
}
.sport-down-right-1 .right1-1 img{
    width: 100%;
    height: 100%;
}
.sport-down-right-1 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.sport-down-right-1 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.sport-down-right-2{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.sport-down-right-2 .right1-1{
    width: 100%;
    height: 75%;
}
.sport-down-right-2 .right1-1 img{
    width: 100%;
    height: 100%;
}
.sport-down-right-2 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.sport-down-right-2 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.sport-down-right-3{
    width: 24%;
    height: 305px;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    background: white;
    float: left;
}
.sport-down-right-3 .right1-1{
    width: 100%;
    height: 75%;
}
.sport-down-right-3 .right1-1 img{
    width: 100%;
    height: 100%;
}
.sport-down-right-3 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.sport-down-right-3 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.sport-down-right-4{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.sport-down-right-4 .right1-1{
    width: 100%;
    height: 75%;
}
.sport-down-right-4 .right1-1 img{
    width: 100%;
    height: 100%;
}
.sport-down-right-4 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.sport-down-right-4 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.sport-down-right-5{
    width: 24%;
    height: 305px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.sport-down-right-5 .right1-1{
    width: 100%;
    height: 75%;
}
.sport-down-right-5 .right1-1 img{
    width: 100%;
    height: 100%;
}
.sport-down-right-5 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.sport-down-right-5 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.sport-down-right-6{
    width: 24%;
    height: 310px;
    background: white;
    position: relative;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.sport-down-right-6 .right1-1{
    width: 100%;
    height: 75%;
}
.sport-down-right-6 .right1-1 img{
    width: 100%;
    height: 100%;
}
.sport-down-right-6 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.sport-down-right-6 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.sport-down-right-7{
    width: 24%;
    height: 310px;
    position: relative;
    margin-right: 5px;
    background: white;
    box-sizing: border-box;
    float: left;
}
.sport-down-right-7 .right1-1{
    width: 100%;
    height: 75%;
}
.sport-down-right-7 .right1-1 img{
    width: 100%;
    height: 100%;
}
.sport-down-right-7 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.sport-down-right-7 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.sport-down-right-8{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.sport-down-right-8 .right1-1{
    width: 100%;
    height: 75%;
}
.sport-down-right-8 .right1-1 img{
    width: 100%;
    height: 100%;
}
.sport-down-right-8 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.sport-down-right-8 .right1-3{
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}
.sport-down-right-9{
    width: 24%;
    height: 310px;
    position: relative;
    background: white;
    margin-right: 5px;
    box-sizing: border-box;
    float: left;
}
.sport-down-right-9 .right1-1{
    width: 100%;
    height: 75%;
}
.sport-down-right-9 .right1-1 img{
    width: 100%;
    height: 100%;
}
.sport-down-right-9 .right1-2{
    width: 100%;
    height: 12%;
    font-size: 14px;
    color:gray;
    text-align: center;
}
.sport-down-right-9 .right1-3 {
    width: 100%;
    height: 10%;
    color: red;
    font-size: 20px;
    text-align: center;
}

/*猜你喜欢*/
.like{
    width: 100%;
    height: 120px;
}
.like-cont{
    width:100%;
    height: 100%;
    line-height: 100%;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.like-detail{
    width: 100%;
    height: 1900px;
    margin-top: -30px;
}
.like-detail-in {
    width: 1230px;
    height: 100%;
    margin-left: 220px;
}
.one{
    width: 18%;
    height: 300px;
    float: left;
    margin-right: 22px;
    margin-top:15px ;
    background: white;
}
.one .one-up{
    width: 90%;
    height: 65%;
    margin: auto;
}
.one .one-up img{
    width: 100%;
    height: 100%;
}
.one .one-mid{
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 14px;
    color:gray;
}
.one .one-down{
    width: 100%;
    height: 10%;
    font-size: 20px;
    color: red;
    text-align: center;
}
/*结束标签*/
.end{
    width: 100%;
    height: 100px;
}
.end-cont{
    width:100%;
    height: 100%;
    line-height: 100%;
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
/*F4*/
.f4{
    width: 100%;
    height: 120px;
}
.f4-cont{
    width:100%;
    height: 100%;
    line-height: 100%;
    margin-left: 220px;
    margin-top: -40px;
}
.line{
    width: 1230px;
    height: 20px;
    margin-left: 220px;
    border-top: 1px solid gray;
}
/*关于天猫ending部分*/
/*end部分*/
.ending{
    width: 100%;
    height: 250px;
    position: relative;
    margin-top: 1px;
}
.ending-cont{
    width: 1230px;
    height: 90%;
    background: #f8f8f8;
    margin-top: 20px;
    margin-left: 220px;
}
.ending-one{
    width: 18%;
    height: 100%;
    float: left;
}
.ending-one-up{
    width: 100px;
    height: 20px;
    line-height: 20px;
    margin-top: 35px;
    margin-left: 30px;
}
.ending-one-up h3{
    font-size: 18px;
    font-weight: bold;
}
.ending-one-down ul{
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: 10px;
}
.ending-two{
    width: 18%;
    height: 100%;
    float: left;
}
.ending-two-up{
    width: 100px;
    height: 20px;
    line-height: 20px;
    margin-top: 35px;
    margin-left: 30px;
}
.ending-two-up h3{
    font-size: 18px;
    font-weight: bold;
}
.ending-two-down ul{
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: 10px;
}
.ending-three{
    width: 18%;
    height: 100%;
    float: left;
}
.ending-three-up{
    width: 100px;
    height: 20px;
    line-height: 20px;
    margin-top: 35px;
    margin-left: 30px;
}
.ending-three-up h3{
    font-size: 18px;
    font-weight: bold;
}
.ending-three-down ul{
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: 10px;
}
.ending-four{
    width: 18%;
    height: 100%;
    float: left;
}
.ending-four-up{
    width: 100px;
    height: 20px;
    line-height: 20px;
    margin-top: 35px;
    margin-left: 30px;
}
.ending-four-up h3{
    font-size: 18px;
    font-weight: bold;
}
.ending-four-down ul{
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: 10px;
}

.ending-five{
    width: 18%;
    height: 100%;
    float: left;
}
.ending-five-up{
    width: 100px;
    height: 20px;
    line-height: 20px;
    margin-top: 35px;
    margin-left: 30px;
}
.ending-five-up h3{
    font-size: 18px;
    font-weight: bold;
}
.ending-five-down ul{
    width: 120px;
    height: 120px;
    margin-left: 30px;
    margin-top: 10px;
}
.ending-six{
    width: 20%;
    height: 100%;
    float: left;
}
.phone-cat{
    font-size:20px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 30px;
    position: relative;
}
.phone-cat .erweima{
    width:100px;
    height: 100px;
    float: left;
    margin-left: 50px;
    margin-top: -30px;
}
.erweima img{
    width: 100%;
    height: 100%;
}
/*收尾工作*/
.finaly{
    width: 100%;
    height: 500px;
    margin-top: -30px;
    position: relative;
    padding-top: -200px;
    background: url("../images2/end-bj.png") no-repeat;
}
.cat-eye{
    width: 200px;
    height: 40px;
    position: absolute;
    margin-top: 185px;
    margin-left: 60px;
}
.cat-eye img{
    width: 100%;
    height: 100%;
}
.ending-detail{
    width: 1230px;
    height: 260px;
    margin-left: 220px;
    margin-top: -30px;
    border-top: 3px solid red;
    background: black;
}
.ending-detail-1{
    width: 100%;
    height: 40px;
    position: relative;
}
.ending-detail-1 span{
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    font-weight: bold;
    left: 1px;
    top:10px;
}
.ending-detail-1 span a{
    color: #ffffff;
    text-decoration: none;
}
.ending-detail-2{
    width: 100%;
    height: 40px;
}
.ending-detail-2 span{
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
}
.ending-detail-2 span a{
    color: #ffffff;
    text-decoration: none;
}
.ending-detail-3{
    width: 100%;
    height: 20px;
}
.ending-detail-3 span{
    font-size: 12px;
    color: #a7ab9b;
}
.ending-detail-4{
    width: 100%;
    height: 20px;
    position: relative;
}
.ending-detail-4-jh{
    width:20px;
    height: 20px;
    margin-left: 800px;
}
.ending-detail-4-jh-detail{
    float: right;
    margin-left: 840px;
    margin-top: -20px;
    position: absolute;
}
.ending-detail-4-jh img{
    width: 100%;
    height: 100%;
}
.ending-detail-4 span{
    font-size: 12px;
    color: #a7ab9b;
}
.ending-detail-5{
    width: 100%;
    height: 20px;
}
.ending-detail-5 span{
    font-size: 12px;
    color: #a7ab9b;
}
.ending-detail-6{
    width: 100%;
    height: 20px;
}
.ending-detail-6 span{
    font-size: 12px;
    color: #a7ab9b;
}
.ending-detail-7{
    width: 100%;
    height: 20px;
}
.ending-detail-7 span{
    font-size: 12px;
    color: #a7ab9b;
}
.ending-detail-8{
    width: 100%;
    height: 30px;
    margin-top: 10px;
}
.ending-detail-8-left{
    width:80px;
    height: 100%;
    margin-right: 20px;
    float: left;
}
.ending-detail-8-right{
    width:80px;
    height: 100%;
    float: left;
}
.ending-detail-8-left img{
    width: 100%;
    height: 100%;
}
.ending-detail-8-right img{
    width: 100%;
    height: 100%;
}