body{
    margin: 0;
}
/*导航栏*/
.menu{
    width: 100%;
    height: 45px;
    background: #F9919D;
}
.menu-box{
    width: 1250px;
    height: 32px;
    margin: auto;
}
.box-left{
    height: 100%;
    width: 250px;
    float: left;
}
.box-left span{
    font-size: 12px;
    color: #ffffff;
}
.box-left a{
    line-height: 20px;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    margin-left: 15px;
}
.box-right{
    height: 100%;
    width: 550px;
    float: right;
}
.box-right a{
    line-height: 30px;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    margin-left: 15px;
    float: left;
}
.sign{
    margin-top: 12px;
    margin-left: 3px;
    border-top: 6px solid rgb(187,187,187);
    border-left: 3px solid #F9919D;
    border-right: 3px solid #F9919D;
    float: left;
}
.small-line{
    width:1px;
    height: 15px;
    margin-top: 8px;
    margin-left: 8px;
    border-right: 1px solid rgb(187,187,187);
    float: left;
}
.sma1{
    width: 100px;
    height: 100%;
    float: left;
}
.sma1 a{
    margin-left: 2px;
}
.sma2{
    width: 70px;
    height: 100%;
    float: left;
}
.sma2 a{
    margin-left: 2px;
}
.small-img1{
    width: 18px;
    height: 18px;
    float: left;
    background: url("../imgs/s1.png");
    margin-top:5px;
    margin-left: 10px;
}
.small-img2{
    width: 18px;
    height: 18px;
    float: left;
    background: url("../imgs/s2.png");
    margin-top:5px;
    margin-left: 10px;
}
.small-img3{
    width: 18px;
    height: 18px;
    float: left;
    background: url("../imgs/s3.png");
    margin-top:7px;
    margin-left: 10px;
}
.sma3{
    width: 100px;
    height: 100%;
    float: left;
}
.sma3 a{
    margin-left:3px;
}
/*测导航栏*/

/*搜索栏*/
.header-extra{
    width: 1250px;
    height: 150px;
    margin: auto;
}
.logo{
    width: 340px;
    height: 150px;
    float: left;
    background: url("../imgs/s4.png") no-repeat -20px 0px;
    background-size: 260px 150px ;
}
.header-find{
    margin-top: 38px;
    width:620px ;
    height: 70px;
    float: left;

}
.find-a{
    width: 100%;
    height: 40px;

}
.find-b{
    width: 100%;
    height: 30px;

}
.find-ab{
    width: 9%;
    height: 80%;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    border-right: 1px  solid rgb(204,204,204);
    text-decoration: none;
    font-size: 14px;
    color: rgb(204,204,204);
}
.find-aab{
    color: red;
}
.niunai{
    border: none;
}
.find-text{
    height: 90%;
    width: 480px;
    float: left;
    line-height: 40px;
    padding-left: 10px;
    font-size: 13px;
    color: rgb(151,101,151);
    border-top: 1px solid  red;
    border-left: 1px solid  red; border-right: 1px solid  red;
    border-bottom: 2px solid red;
}
.find-bt{
    width: 125px;
    height: 100%;
    background: rgb(255,0,54);
    float: left;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
    text-align: center;
}
.inner-con{
    width: 1250px;
    height: 40px;
    margin: auto;
}
.inner-con1{
    width: 440px;
    height: 38px;

    float: left;
}
.inner-con2{
    width: 805px;
    height: 38px;
    float: right;
}
.inner-left1{
    width: 25%;
    height: 100%;
    background: rgb(198,10,10);
    text-align: center;
    float: left;
    color: #ffffff;
    line-height: 40px;
    font-size: 14px;
    cursor: pointer;
}



.inner-left2{
    width: 25%;
    height: 100%;
    font-size: 14px;
    background: rgb(70,68,68);
    text-align: center;
    float: left;
    color: #ffffff;
    line-height: 40px;
    cursor: pointer;
}
.inner-left3{
    width: 25%;
    height: 100%;
    margin-top: 3px;
    background: url("../imgs/s5.png") no-repeat;
    background-size: 100px 35px ;
    float: left;
}
.inner-left4{
    width: 25%;
    height: 100%;
    margin-top: 3px;
    background: url("../imgs/s6.png") no-repeat;
    background-size: 100px 35px ;
    float: left;
}
.conn2-text{
    width:40px;
    height: 100%;
    text-decoration: none;
    color: rgb(51,51,51);
    line-height: 40px;
    margin: 10px;

}
.inner-con2 a:hover{
    color: red;
}
.top{
    width: 100%;
    height: 1430px;
    position: relative;
}
/*轮播*/
.lunbo {
    width: 1215px;
    height: 510px;
    position: absolute;
    left: 20px;
    top: 188px;
    margin: auto;

}
.lunbo-left{
    width: 200px;
    height: 510px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgb(67,28,20);
    z-index: 3;
    display: none;
}
.lunbo-left2{
    width: 200px;
    height: 510px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(105,105,105,0.6);
    z-index: 4;

}
.lunbo-left-de2{
    width: 100%;
    height: 15px;
    margin-top: 17px;
    margin-left: 10px;
}
.demo2{
    width: 100%;
    height: 18px;
    margin-top: 3px;
    margin-left: 10px;
}
.demo1{
    width: 143px;
    height: 30px;
    margin-top: 30px;
    margin-left: 26px;
    border: 1px solid rgb(203,12,16);
    border-radius: 10px;
}
.lunbo-left-demo{
    width: 143px;
    height: 30px;
    margin-top: 15px;
    margin-left: 26px;
    border: 1px solid  rgb(203,12,16);
    border-radius: 10px;
}
.demo1:hover{
    background: rgb(203,12,16);
}
.lunbo-left-demo:hover{
    background: rgb(203,12,16);
}
.lunbo-left  a{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    margin-left: 45px;
}
.lunbo-left2 span{
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    margin-left: 30px;
}
.pic1{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../imgs/l3.jpg")  no-repeat ;
    background-size:1215px 510px ;
    z-index: 1;
}
.pic2{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    background: url("../imgs/l2.jpg")  no-repeat ;
    background-size:1215px 510px ;
}
.pic3{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../imgs/jp1.jpg")  no-repeat ;
    background-size:1215px 510px ;
}
.pic4{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../imgs/l1.jpg")  no-repeat ;
    background-size:1215px 510px ;
}
.pic5{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../imgs/l4.jpg")  no-repeat ;
    background-size:1215px 510px ;
}
.pic6{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url("../imgs/l5.jpg")  no-repeat ;
    background-size:1215px 510px ;
}
.lunbo-line{
    width: 230px;
    height: 20px;
    position: absolute;
    top: 470px;
    left: 530px;
    z-index: 2;
}
.line{
    width: 26px;
    height: 5px;
    float: left;
    margin: 4px;
    background: rgb(179,139,136);
}

/*top  middle*/
.top-middle{
    width:1215px ;
    height: 380px;
    position: absolute;
    left: 20px;
    top: 730px;
}
.top-middle-1{
    width:230px ;
    height:380px;
    float: left;
}
.top-middle-2{
    height:380px;
    width:484px;
    margin-left:8px;
    float: left;
}
.top-middle-3{
    width:484px ;
    height:380px;
    float: left;
    margin-left:8px;
}
.topmiddle-top{
    width: 100%;
    height: 50px;
    background: #ffffff;
}
.topmiddle-bottom1{
    width: 100%;
    height: 330px;
    background: url("../imgs/top-middle1.jpg");
    background-size:230px 330px ;
}
.topmiddle-bottom2{
    width: 100%;
    height: 330px;
    background: url("../imgs/top-middle2.jpg");
    background-size:490px 330px ;
}
.topmiddle-bottom3{
    width: 100%;
    height: 330px;
    background: url("../imgs/top-middle3.jpg");
    background-size:477px 330px ;
}
.topmiddle-top-text1{
    height: 100%;
    width: 70px;
    float: left;
    padding:15px 0px  15px 8px;
}
.topmiddle-top-text2{
    height: 100%;
    width: 60px;
    float: left;
    padding:15px 0px  15px 0px;

}
.topmiddle-top-text3{
    height: 100%;
    width: 20px;
    margin-top: 17px;
    float: right;
    margin-right: 5px;
    background: url("../imgs/p10.png") no-repeat;
    background-size: 20px 20px;
}
.topmiddle-top-text4{
    height: 100%;
    width: 40px;
    margin-left:270px;
    margin-top:16px;
    float: left;
}
/*top-bottom*/
.top-bac1{
    width: 130px ;
    height: 328px;
    background: rgb(245,245,245);
    position: absolute;
    left: 0px;
    top: 1130px;

}
.top-bac2{
    width: 190px ;
    height: 328px;
    background: rgb(245,245,245);
    position: absolute;
    left: 1344px;
    top: 1130px;

}
.top-bottom{
    width:1215px ;
    height: 330px;
    position: absolute;
    left: 20px;
    top: 1130px;

}
.top-bottom-item{
    width: 10%;
    height: 33%;
    float: left;
    border:1px solid rgb(245,245,245);
    box-sizing: border-box;
    position: relative;
}
.top-bottom-item-con1{
    width: 100%;
    height: 98%;
    background: rgba(1,1,1,0.7);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.con1text{
    width: 80px;
    height: 20px;
    padding: 32px    10px 0px 20px;
    font-size: 13px;
    color: #ffffff;

}
.con1enter{
    width: 70px;
    margin-left: 26px;
    margin-top: 5px;
    height: 20px;
    background: rgb(250,0,54);
    border-radius:10px ;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
}
.con1enter a{
    text-decoration: none;
    color: #ffffff;
}
.top-bottom-item:hover .top-bottom-item-con1{
    display: block;
}

.end{
    width: 100%;
    height: 80px;
    margin: auto;
    background: rgb(245,245,245);
    position: relative;

}
.middle{
    width: 100%;
    height: 4900px;
    background:rgb(245,245,245);
    position: relative;
}
.tianmaochaoshi{
    width: 1212px;
    height: 40px;
    margin: 30px auto 0px auto;
    position: absolute;
    left: 20px;
    top: 0px;
}
.tianmao-left{
    width: 240px;
    height: 100%;
    background: url("../imgs/p9.png") no-repeat;
    background-size:200px 25px ;
    float: left;
}
.tianmao-right{
    width:622px;
    float: left;
    height: 100%;
    margin-left: 200px;
}
.tianmao-right a{
    float: left;
    text-decoration: none;
    font-size: 14px;
    width: 12.5%;
    height: 20px;
    color: rgb(85,85,85);
}
.middle-mall1{
    width: 1212px;
    height: 600px;
    margin: 30px auto 0px auto;
    position: absolute;
    left: 20px;
    top: 40px;
}
.middle-mall1-left{
    width: 100%;
    height: 100%;
    background: url("../imgs/middlemallleft.jpg") no-repeat;
    background-size: 242px 600px;
    float: left;
    position: relative;

}
.middle-mall3-left3{
    width: 232px;
    height: 580px;
    background-size: 232px 585px;
    float: left;
    margin-top: 10px;
    position: relative;
}
.middle-mall3-left4{
    width: 232px;
    height: 580px;
    background-size: 232px 585px;
    float: left;
    margin-top: 10px;
    position: relative;

}
.middle-mall3-left5{
    width: 232px;
    height: 580px;
    background-size: 232px 585px;
    float: left;
    position: relative;
    margin-top: 10px;
}
.middle-mall3-left6{
    width: 232px;
    height: 580px;
    background-size: 232px 585px;
    float: left;
    position: relative;
    margin-top: 10px;
}
.middle-mall3-left7{
    width: 232px;
    height: 580px;
    background-size: 232px 595px;
    float: left;
    position: relative;
    margin-top: 10px;
}

.mall-left-1{
    width: 200px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 405px;
}
.mallleft11{
    width: 30%;
    height: 100%;
    float: left;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    background: #000000;
    cursor: pointer;
}
.aaa{
    float: left;
    margin-left: 10px;
    line-height: 30px;

}
.mallleft12{
    width: 60%;
    height: 100%;
    float: left;
    color:white;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
    background: rgba(21,16,14,0.8);
    cursor: pointer;
}
.mall-left-2{
    width: 33px;
    height: 33px;
    position: absolute;
    background-size: 33px 33px;
    left: 20px;
    top: 545px;
    cursor: pointer;
}
.mall2-item1{
    float: left;
    width:229px;
    height: 285px;
    background-size:229px 285px;
    margin-left: 15px;
    margin-top: 10px;
}
.mall2-item2{
    float: left;
    width:229px;
    height: 285px;
    margin-left: 15px;
    background-size:229px 285px;
    margin-top: 10px;
}
.mall2-item2-a{
    width: 150px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    font-size:18px;
}
.mall2-item2-b{
    width: 150px;
    height: 30px;
    margin-left: 20px;
    color:rgb(165,69,225);
    font-size: 14px;
}
.mall-left-11{
    width: 200px;
    height: 50px;
    margin-top: 170px;
}
.mallleft121{
    width:130px;
    height: 100%;
    background: rgba(21,16,14,0.8);
    float: left;
}
.mallleft111{
    width:70px;
    height: 100%;
    background: black;
    float: left;
}
.mall-left-21{
    width: 28px;
    height: 28px;
    margin-top: 20px;
    margin-left: 180px;
    background-size: 28px 28px;
    cursor: pointer;
}
.mall-left-11 span{
    color: #ffffff;
    margin-top: 5px;

    line-height: 20px;
}
.mall2-item6{
    float: left;
    width:229px;
;
    height: 285px;
    margin-left: 15px;
    margin-top: 10px;
    background-size:229px 285px;
}
.middle-mall1-right{
    width: 970px;
    height: 100%;
    position: absolute;
    left: 246px;
    top: 0px;
}
.mall1-right-item1{
    width: 475px;
    height: 50%;
    float: left;
    background: #ffffff;
    position: relative;
}
.mall1-right-item2{
    width: 476px;
    height: 50%;
    float: left;
    margin-left: 13px ;
    background: rgb(245,245,245);
    position: relative;
}
.mall1-right-item3{
    width: 475px;
    height: 50%;
    float: left;
    margin-top: 10px;
    background: rgb(245,245,245);
    position: relative;
}
.mall1-right-item4{
    width: 476px;
    height: 50%;
    float: left;
    margin-left: 13px ;
    margin-top: 10px;
    background: rgb(245,245,245);
    position: relative;
}
.mall1-right-item1-top{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background: rgb(245,245,245);
}
.mall1-right-item1-top a{
    text-decoration: none;
    width: 50%;
    height: 100%;
    color: #000;
    float: left;
    text-align: center;
    line-height: 60px;
}
.mall1-right-item1-bottom{
    width: 100%;
    height: 230px;
    margin-top: 10px;
}
.mall1-right-item1-bottom-left{
    width: 260px;
    height: 70px;
    background-size:260px 70px;
    margin-top: 90px;
    float: left;

}

.mall1-right-item1-bottom-right{
    width: 200px;
    height: 200px;
    background: url("../imgs/mallleft1.jpg") no-repeat;
    background-size:200px 200px ;
    margin-top: 0px;
    float: left;


}
.mall1jps{
    width: 30px;
    height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.mall1-right-item1-bottom-left-top{
    width: 100%;
    font-size: 24px;
    color: rgb(0,178,98);
    height: 50%;

    margin-left: 30px;
    line-height: 30px;
}
.mall1-right-item1-bottom-left-bottom{
    width: 100%;
    height: 50%;
    color: black;
    margin-left: 30px;
    font-size: 18px;
    line-height: 30px;
}
.mall1-right-item2-item1{
    width: 232px;
    height:100% ;
    background: #ffffff;
    float: left;
}
.mall1-right-item2-item2{
    width: 232px;
    height:100% ;
    margin-left: 10px;
    background: #ffffff;
    float: left;
}
.mall1-right-item2-pic{
    width: 100%;
    height: 200px;
    background: url("../imgs/mall1item21.jpg") no-repeat;
    margin-left: 20px;
    background-size:195px 195px ;
}
.mall1-right-item2-c1{
    width:140px;
    height: 40px;
    font-size:14px;
    line-height: 20px;
    margin-left: 40px;
    margin-right: 10px;
    text-align: center;
}
.mall1-right-item2-c2{
    width:40px;
    height: 20px;
    font-size:18px;
    line-height: 20px;
    margin-left: 90px;
    margin-right: 10px;
    text-align: center;
    margin-top:20px;
    color: red;
}
.mall1-right-item22-pic{
    width: 100%;
    height: 200px;
    background: url("../imgs/mall1item22.jpg") no-repeat;
    margin-left: 20px;
    background-size:195px 195px ;
}
.mall1-right-item31-pic{
    width: 100%;
    height: 200px;
    background: url("../imgs/mall1item31.jpg") no-repeat;
    margin-left: 20px;
    background-size:195px 195px ;
}
.mall1-right-item32-pic{
    width: 100%;
    height: 200px;
    background: url("../imgs/mall1item32.jpg") no-repeat;
    margin-left: 20px;
    background-size:195px 195px ;
}
.mall1-right-item41-pic{
    width: 100%;
    height: 200px;
    background: url("../imgs/mall1item41.jpg") no-repeat;
    margin-left: 20px;
    background-size:195px 195px ;
}
.mall1-right-item42-pic{
    width: 100%;
    height: 200px;
    background: url("../imgs/mall1item42.jpg") no-repeat;
    margin-left: 20px;
    background-size:195px 195px ;
}
.mall-right-item:hover{
    border: 1px solid red;
    box-sizing: border-box;
}
.tianmaoguoji{
    width: 1212px;
    height: 40px;
    margin: 30px auto 0px auto;
    position: absolute;
    left: 20px;
    top: 680px;
}
.tianmao-left2{
    width: 240px;
    height: 100%;
    background-size:200px 25px ;
    float: left;
}
.tianmao-right2{
    width:300px;
    float: left;
    height: 100%;
    margin-left: 670px;
}
.tianmao-right2 a{
    float: left;
    text-decoration: none;
    font-size: 14px;
    width: 20%;
    height: 20px;
    color: rgb(85,85,85);
}
.tianmao-right2  a:hover{
    text-decoration:black;
}

.middle-mall2{
    width: 1212px;
    height: 600px;
    margin: 30px auto 0px auto;
    position: absolute;
    left: 20px;
    top:720px;
}
.mall2-item{
    float: left;
    width:229px;
    height: 285px;
    background: #ffffff;
    margin-left: 15px;
    margin-top: 10px;
}

.middle-pic1{
    width: 1210px;
    height: 80px;
    margin: 30px auto 0px auto;
    position: absolute;

    background-size:1212px 80px;
    left: 20px;
    top: 1330px;
}
.meilirensheng{
    width: 1212px;
    height:60px;
    margin: 30px auto 0 auto;
    position: absolute;
    left: 20px;
    top: 1430px;
}
.me1{
    width: 90px;
    height: 20px;
    float: left;
    padding-left: 20px;
    border-left: 3px solid  black;
}
.me2{
    width: 150px;
    height: 20px;
    font-size: 14px;
    margin-top: 2px;
    float: left;
}
.middle-mall3{
    width: 1212px;
    height: 600px;
    margin: 30px auto 0px auto;
    position: absolute;
    left: 20px;
    top:1470px;

}
.middle-mall3-left{
    width: 229px;
    height: 580px;
    background: url("../imgs/middlemallleft.jpg") no-repeat;
    background-size: 242px 588px;
    margin-top:10px;
    float: left;
}
.chaodiankuwan{
    width: 1212px;
    height:60px;
    margin: 30px auto 0 auto;
    position: absolute;
    left: 20px;
    top: 2080px;
}
.middle-mall4{
    width: 1212px;
    height: 600px;
    margin: 30px auto 0px auto;
    position: absolute;
    left: 20px;
    top:2120px;
}
.middle-pic2{
    width: 1210px;
    height: 80px;
    margin: 30px auto 0px auto;
    position: absolute;

    background-size:1212px 80px;
    left: 20px;
    top: 2725px;
}
.jujiashenghuo{
    width: 1212px;
    height:60px;
    margin: 30px auto 0 auto;
    position: absolute;
    left: 20px;
    top: 2820px;
}
.middle-mall5{
    width: 1212px;
    height: 600px;
    margin: 30px auto 0px auto;
    position: absolute;
    left: 20px;
    top:2855px;
}
.dazaoaichao{
    width: 1212px;
    height:60px;
    margin: 30px auto 0 auto;
    position: absolute;
    left: 20px;
    top: 3470px;
}
.middle-mall6{
    width: 1212px;
    height: 600px;
    margin: 30px auto 0px auto;
    position: absolute;
    left: 20px;
    top:3506px;
}
.middle-pic3{
    width: 1210px;
    height: 80px;
    margin: 30px auto 0px auto;
    position: absolute;
    background-size:1212px 80px;
    left: 20px;
    top: 4110px;
}
.huwaichuxing{
    width: 1212px;
    height:60px;
    margin: 30px auto 0 auto;
    position: absolute;
    left: 20px;
    top: 4212px;
}
.middle-mall7{
    width: 1212px;
    height: 600px;
    margin: 30px auto 0px auto;
    position: absolute;
    left: 20px;
    top:4250px;
}
.cainixihuan{
    width: 100%;
    height: 600px;
    margin: auto;
    background: rgb(245,245,245);
    position: relative;
}
.caini{
    width: 1215px;
    height:100px;
    position: absolute;
    left: 20px;
    top: 0;

}
.cai{
    width: 250px;
    height:40px;
    position: absolute;
    left: 485px;
    font-size: 18px;
    color: rgb(102,102,102);
    top: 10px;
}
.xin-pic{
    width: 28px;
    height:28px;
    position: absolute;
    left:35px;
    top: -6px;
}
.mallall{
    width: 1215px;
    height:400px;
    position: absolute;
    left: 20px;
    top: 75px;
}
.end-pic{
    width: 80px;
    height:47px;
    position: absolute;
    background: url("../imgs/p15.png") no-repeat;
    background-size:80px 47px;
    left: 580px;
    top: 20px;
}
.top-bottom-item-pic1{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo1.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic2{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo2.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic3{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo3.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic4{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo4.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic5{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo5.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic6{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo6.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic7{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo7.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic8{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo8.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic9{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo9.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic10{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo10.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic11{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo11.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic12{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo12.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic13{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo13.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic14{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo14.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic15{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo15.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic16{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo16.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic17{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo17.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic18{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo18.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic19{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo19.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic20{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo20.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic21{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo21.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic22{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo22.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}

.top-bottom-item-pic23{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo23.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic24{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo24.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic25{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo25.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic26{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo26.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic27{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo27.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic28{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo28.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic29{
    width: 100%;
    height: 100%;
    background: url("../imgs/logo29.jpg")no-repeat;
    background-size: 110px 95px;
    position: absolute;
    top: 0;
    left: 0;
}
.top-bottom-item-pic30{
    width: 35px;
    height: 35px;
    background: url("../imgs/logo30.png")no-repeat;
    background-size: 35px 35px;
    position: absolute;
    top: 25px;
    left:20px;
}
.pic30text{
    width: 60px;
    height: 20px;
    position: absolute;
    font-size: 13px;
    top: 60px;
    left:20px;
}
@keyframes ani {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg) ;
    }
}
.top-bottom-item30:hover{
    background: rgb(255,0,54);
}
.top-bottom-item30:hover .top-bottom-item-pic30{
    animation:ani  .5s linear 1 ;
}
.bottom{
    width: 100%;
    height:585px;
    background: #ffffff;
    position: relative;
}
.bottom-pic1{
    width: 100%;
    height: 120px;
    margin: auto;
    background: url("../imgs/p12.jpg")no-repeat;
    margin-left: 60px;
    margin-top: 30px;
    cursor: pointer;
}
.zhinan{
    width:1215px ;
    margin: auto;
    height: 120px;
    border-top: 1px solid  rgb(237,237,237);
    position: absolute;
    left:60px ;
    top: 120px;
    z-index: 2;
}
.zhinan-item{
    width: 20%;
    height: 100%;
    float: left;
    box-sizing: border-box;
}
.zhinan-t{
    width: 100px;
    height: 100%;
    list-style:none;
    margin-top: 20px;
    margin-left: 10px;
}
.zhinan-t li{
    font-size: 12px;
    color: rgb(139,139,139);
    padding: 3px;
}
#erweima{
    width: 100px;
    height: 100px;
    background-size:100px  100px;
    margin-left: 0;
}
.bottom-end{
    width: 100%;
    height: 460px;
    position: absolute;
    left:0 ;
    top: 125px;
}
.tianmaopic{
    width:  1190px;
    height: 50px;
    background: #ffffff;
    position: absolute;
    left:60px ;
    top: 166px;
    border-bottom: 2px solid red;
    z-index: 1;
}
.maopic{
    width:  85px;
    height: 50px;
    margin-left: 40px;
    margin-top:20px;
    background-size:85px 30px;

}
.tianmaotext{
    width:  1190px;
    height: 240px;
    background: #000000;
    position: absolute;
    left:60px ;
    top: 218px;
    z-index: 1;
}
.tianmaotext p{
    margin-top: 5px;
}
.tianmaotext a{
    font-size: 12px;
    margin-right: 5px;
    color: #ffffff;
    text-decoration: none;
}
.tupian1{
    width:80px ;
    height: 50px;
    float: left;
}
.tupian2{
    width:80px ;
    height: 50px;
    margin-left: 20px;
    float: left;
}
.aaf{
    width:20px ;
    height: 20px;
    margin-left: 1px;
    display: inline-block;
}







